.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

.mb-1 {
  margin-bottom: 4px;
}
.mb-2 {
  margin-bottom: 8px;
}
.mb-3 {
  margin-bottom: 16px;
}

.float-left {
  float: left;
}

a {
  cursor: pointer;
  color: #8b1474;
  text-decoration: none;
  margin: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
a:visited {
  color: #8b1474;
}

.logo {
  height: 76px;
  width: 76px;
}
nav{
  padding-right: 8px;
}

.products {
  overflow: hidden;
  position: relative;
}

.products .control {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;

  padding: 0 100px;
}

.products .control > button {
  width: 50px;
  border: none;
  border-radius: 0;
  background-color: #fff3;
  z-index: 2;
}

.products .control > button:hover {
  background-color: #fff8;
}

.product_name {
  color: #8b1474;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 4px;
}
.product_cost {
  color: #8b1474;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 4px;
}

.shedule_image_container {
  width: 100%;
}

.shedule_image {
  width: 100%;
  margin: auto;
}

input[type="text"] {
  height: 36x;
  box-sizing: border-box;
  padding: 8px;
  background-color: #e1eff5;
  color: #8b1474;
  outline: none;
  border: 1px solid transparent;
  border-bottom-color: #8b1474;
}

input[type="text"]:focus-visible {
  border-color: #8b1474;
}

textarea {
  background-color: #e1eff5;
  color: #8b1474;
  border-bottom-color: #8b1474;
  outline: none;
  border: 1px solid transparent;
}
textarea:focus-visible {
  border-color: #8b1474;
}

input[type="submit"] {
  height: 48px;
  width: 100%;
  background-color: #8b1474;
  color: #fffcfb;
  font-size: larger;
}

body {
  margin: 0px;
  background-color: #fffcfb;
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.salon_photo {
  width: 100%;
}

.product_photo {
  width: 345px;
  height: 517px;
}

.products {
  padding: 40px;
  display: flex;
  justify-content: center;
  row-gap: 30px;
}
.contact_form_information {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.contact_form {
  background-color: #e1eff5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}

.contact_form form {
  width: 50%;
  padding: 50px 0;
}

.input-wrapper {
  float: left;
  padding: 0 8px;
  box-sizing: border-box;
}

.input-wrapper > * {
  width: 100%;
}

.contact_information {
  color: #8b1474;
  margin: 5px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

label {
  color: #8b1474;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


.visible_container_with_photo {
  width: 1095px;
  display: flex;
  justify-content: flex-start;
  row-gap: 30px;
  overflow: hidden;
}

.container_with_product_photo {
  transition: margin-left 0.228s linear;
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.footer_span {
  color: #8b1474;
  display: flex;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

footer{
  width: 100%;
  height: 32px;
}
