.fontBold {
  font-weight: bold;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto auto auto auto;
  gap: 20px;
  grid-template-areas:
    "containerItemWide containerItemWide"
    "ordinaryLeftTop ordinaryRightTop"
    "ordinaryLeftBottom ordinaryRightBottom"
    "containerItemWideBottom containerItemWideBottom";
}
.containerItemWide {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.grid-container > div {
  background-color: #f002;
}
.containerItemWide {
  grid-area: containerItemWide;
}
.containerItemWideBottom {
  grid-area: containerItemWide;
}
.ordinaryLeftTop {
  grid-area: ordinaryLeftTop;
}
.ordinaryLeftBottom {
  grid-area: ordinaryLeftBottom;
}
.ordinaryRightTop {
  grid-area: ordinaryRightTop;
}
.ordinaryRightBottom {
  grid-area: ordinaryRightBottom;
}
